[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Rohit123-Kumar
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Rohit123-Kumar
	label-Verified = -1..+1 group user/Rohit123-Kumar
	push = group user/Rohit123-Kumar
	read = group user/Rohit123-Kumar
	rebase = group user/Rohit123-Kumar
	removeReviewer = group user/Rohit123-Kumar
	submit = group user/Rohit123-Kumar
[access "refs/heads/*"]
	create = group user/Rohit123-Kumar
	push = +force group user/Rohit123-Kumar
	pushMerge = group user/Rohit123-Kumar
	read = group user/Rohit123-Kumar
[access "refs/tags/*"]
	push = group user/Rohit123-Kumar
	push = +force group user/Rohit123-Kumar
